body {
  
  margin: 0 20%;
  font-family: inherit;
}

/* Use following for the map. */
#leaflet {
  border: black 3px solid;
  background-color: #d0cfd3;
  text-align: left;
}

#organization {
  color: #1a8061;
}

#title {
  color: #5e93d1;
}

#subtitle {
  color: #262626;
  font-weight: bold;
}

.boxLoading {
  border: 16px solid #837d7d;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leaflet-popup-content {
  max-width: 45vw;
  height: 25vh;
  overflow-y: auto;
}
